@import "../../../assets/styles/settings/colors";

.header {
  background-color: var(--primary-blue);
  align-items: center;
  color: var(--white);
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}
.nav-items div {
  padding: 0px 30px;
}

.header .logo {
  padding: 0px 70px;
}

.connect-icon {
  width: 18px;
  height: 14px;
}

.nav-items .connect-btn span {
  padding-left: 10px;
}
