@import '../../../assets/styles/settings/colors';

.header {
  background-color: var(--primary-blue);
  color: var(--white);
  height: 80px;
}

.logo {
  left: 100px;
  bottom: 3162px;
  margin: 27px 1164px 26px 100px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 100px 19px 32px;
  gap: 70px;
  position: absolute;
  width: 518px;
  height: 84px;
  right: 0px;
  top: 0px;
}

.icon {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect-btn {
  margin-left: 183px;
  margin-right: 46px;
}

.connect-icon {
  margin-left: 4px;
  margin-right: 4px;
  width: 22px;
  height: 14px;
}

.try-btn {
  width: 150px;
  height: 42px;
  background-color: transparent !important;
  border: 2px solid var(--white) !important;
  font-size: 16px;
  color: var(--white);

  &:hover {
    color: var(--black) !important;
    background-color: var(--primary-lemon) !important;
    border-color: var(--primary-lemon) !important;
  }
}