@import "../../../assets/styles/settings/colors";

.hero-section {
    background-color: var(--primary-blue);
    height: 700px;
    padding: 100px;
}

.hero-section-left {
    height: fit-content;
    width: 50%;
    margin-top: 75px;
}

.hero-image {
    position: absolute;
    z-index: 2;
}

.hero-section-right {
    margin-left: 249px;
}

.hero-heading {
    color: var(--white);
    font-size: 54px;
    font-family: "ClashDisplay";
    line-height: 60px;
}

.hero-sub-heading {
    font-family: "SchibstedGrotesk-Bold";
    font-size: 20px;
    color: var(--white);
}

.hero-description {
    font-family: "SchibstedGrotesk";
    color: var(--white);
    font-size: 20px;
}

.launch-app-btn {
    color: var(--primary-blue);
    font-size: 16px;
    font-weight: 510;
    width: 148px;
    height: 42px;

    &:hover {
        color: var(--black) !important;
        background-color: var(--primary-lemon) !important;
        border-color: var(--primary-lemon) !important;
    }
}

.connector-div {
    margin-top: -285px;
}

.sticky-column {
    position: sticky !important;
    top: 0;
    height: 870px;
    background-color: var(--primary-lemon);
    padding: 50px;
    width: 50%;
    position: relative;
    z-index: 1;
}

.sticky-contents {
    margin: 116px 0px 0px 138px;
    width: 500px;
    z-index: 2;
    position: absolute;
}

.sticky-heading {
    font-family: "ClashDisplay";
    font-size: 36px;
    color: var(--gray-30);
}

.sticky-description {
    color: var(--gray-30);
    font-size: 18px;
    font-family: "SchibstedGrotesk";
}

.hand-illustration {
    margin: -50px 0px 0px 100px;
    position: relative;
    z-index: 1;
}

.graph-heading {
    font-family: "ClashDisplay-SemiBold";
    color: var(--gray-30);
    font-size: 32px;
}

.graph-description {
    font-family: "SchibstedGrotesk";
    color: var(--text-3);
    width: 450px;
}

.graph-column {
    width: 50%;
    background-color: var(--light-pink);
    padding: 7%;
}

.graph {
    padding: 65px 15px 15px 15px;
}