@import '../settings/colors';

.ant-btn {
    width: 150px;
    height: 42px;
    border-radius: 10px;
    align-items: center;
    padding: 19px 100px 19px 32px;
    font-family: 'SchibstedGrotesk';
}