@import '../settings/colors';

.ant-btn {
    width: 170px;
    font-size: 14px;
    height: 48px;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;

    &.ant-btn-primary {
        border-color: var(--white);
        background-color: transparent;
        border: 1px solid;

        &:hover {
            background-color: var(--primary-lemon);
            border-color: var(--primary-lemon);
        }
    }
}