.price-input {
    font-size: 70px;
    width: fit-content;
    height: fit-content;
    border: none !important;
    margin-top: 20px;
    border-color: transparent !important;
    box-shadow: none !important;
}

.price-input:hover {
    border-color: transparent !important;
    box-shadow: none !important;
}

.ant-input-number {
    .ant-input-number-input {
        height: 100% !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}