:root {
    --primary-100: rgb(11, 71, 254);
    --primary-90: rgba(11, 71, 254, 90%);
    --primary-80: rgba(11, 71, 254, 80%);
    --primary-70: rgba(11, 71, 254, 70%);
    --primary-60: rgba(11, 71, 254, 60%);
    --primary-50: rgba(11, 71, 254, 50%);
    --primary-40: rgba(11, 71, 254, 40%);
    --primary-30: rgba(11, 71, 254, 30%);
    --primary-20: rgba(11, 71, 254, 20%);
    --primary-10: rgba(11, 71, 254, 10%);
    --primary-05: rgba(11, 71, 254, 5%);

    --secondary-100: rgb(53, 0, 183);
    --secondary-90: rgba(53, 0, 183, 90%);
    --secondary-80: rgba(53, 0, 183, 80%);
    --secondary-70: rgba(53, 0, 183, 70%);
    --secondary-60: rgba(53, 0, 183, 60%);
    --secondary-50: rgba(53, 0, 183, 50%);
    --secondary-40: rgba(53, 0, 183, 40%);
    --secondary-30: rgba(53, 0, 183, 30%);
    --secondary-20: rgba(53, 0, 183, 20%);
    --secondary-10: rgba(53, 0, 183, 10%);
    --secondary-05: rgba(53, 0, 183, 5%);

    --white: #ffffff;
    --gray-30: #4D4D4D;
    --black: #000000;
    --light-pink: #fcfbe0;

    --text-1: #1a1a1a;
    --text-2: #a1a1a1;

    --primary-blue: #2F3ECE;
    --primary-pink: #EA4476;
    --primary-green: #6BD28E;
    --primary-lemon: #F3F264;

    --text-1: #191919;
    --text-2: #4C4C4C;
    --text-3: #808080;
    --text-4: #B3B3B3;
}